apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-deployment
  namespace: catalog-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
    spec:
      containers:
        - name: catalog
          image: catalog-service:local   # тимчасове ім'я (див. нижче про minikube)
          imagePullPolicy: Never
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: catalog-config
            - secretRef:
                name: catalog-secret
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          emptyDir: {}   # для dev; в production заміни на PVC
