apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: catalog-ns
spec:
  selector:
    app: catalog
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30080
  type: NodePort
