* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #121212;
  color: white;
}

input, button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

input {
  background: #181818;
  color: white;
}

button {
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  opacity: 0.85;
}
